body {
    font-family: Arial, sans-serif;
    background-image: url(image/book.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #1c85cc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 1000px;
}

#question-area {
    font-size: 18px;
    margin-bottom: 20px;
}

#options-area button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #09f362;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#options-area button:hover {
    background-color: #0056b3;
}

#message-area {
    margin-top: 20px;
    font-size: 12px;
}

#next-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#next-button:hover {
    background-color: #218838;
}

#score-area {
    margin-top: 20px;
    font-size: 20px;
}